<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jason.article.mapper.ArticleMapper">

    <resultMap id="BaseResultMap" type="com.jason.article.domain.ArticleEntity">
        <id column="id" jdbcType="VARCHAR" property="id" />
        <result column="title" jdbcType="VARCHAR" property="title" />
        <result column="post_medium_image" jdbcType="VARCHAR" property="postMediumImage" />
        <result column="link" jdbcType="VARCHAR" property="link" />
        <result column="author" jdbcType="VARCHAR" property="author" />
        <result column="excerpt" jdbcType="VARCHAR" property="excerpt" />
        <result column="like_count" jdbcType="INTEGER" property="likeCount" />
        <result column="category_name" jdbcType="VARCHAR" property="categoryName" />
        <result column="post_date" jdbcType="TIMESTAMP" property="postDate" />
        <result column="pageviews" jdbcType="INTEGER" property="pageviews" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="create_user_acount" jdbcType="TIMESTAMP" property="createUserAcount" />
    </resultMap>
    <sql id="Base_Column_List">
    id, title, post_medium_image, link, author, excerpt, like_count, category_name, post_date,
    pageviews, create_time, create_user_acount
  </sql>
    <select id="queryArticle" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from t_bas_article_info
    </select>

    <select id="queryArticleById" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from t_bas_article_info
        where id = #{id,jdbcType=VARCHAR} LIMIT 1
    </select>

    <insert id="saveArticleInfo" parameterType="com.jason.article.dto.ArticleDto">
        insert into t_bas_article_info (id,title, post_medium_image, link,
      author, excerpt, like_count,
      category_name, post_date, pageviews,
      create_time, create_user_acount)
    values (#{id,jdbcType=VARCHAR},#{title,jdbcType=VARCHAR}, #{postMediumImage,jdbcType=VARCHAR}, #{link,jdbcType=VARCHAR},
      #{author,jdbcType=VARCHAR}, #{excerpt,jdbcType=VARCHAR}, #{likeCount,jdbcType=INTEGER},
      #{categoryName,jdbcType=VARCHAR}, #{postDate,jdbcType=TIMESTAMP}, #{pageviews,jdbcType=INTEGER},
      #{createTime,jdbcType=TIMESTAMP}, #{createUserAcount,jdbcType=VARCHAR})
    </insert>

    <select id="queryIndexImage" resultType="map">
    select  id,image_type as type,post_title,post_medium_image from t_bas_image
    </select>

    <insert id="saveArticleRelation" parameterType="map">
        insert into t_bas_article_relation (id,account,article_list,article_count,create_time)
        values
           (
            #{id,jdbcType=VARCHAR},#{account,jdbcType=BIGINT}, #{articleList,jdbcType=VARCHAR},
            #{articleCount,jdbcType=BIGINT},#{createTime,jdbcType=TIMESTAMP}
            )
    </insert>

    <delete id="deleteArticleRelationByAccount" parameterType="long">
        delete from t_bas_article_relation where account = #{account,jdbcType=BIGINT}
    </delete>

</mapper>
