<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jason.article.mapper.MyFollowMapper">

    <resultMap id="BaseResultMap" type="com.jason.article.domain.ArticleEntity">
        <id column="id" jdbcType="VARCHAR" property="id" />
        <result column="title" jdbcType="VARCHAR" property="title" />
        <result column="post_medium_image" jdbcType="VARCHAR" property="postMediumImage" />
        <result column="link" jdbcType="VARCHAR" property="link" />
        <result column="author" jdbcType="VARCHAR" property="author" />
        <result column="excerpt" jdbcType="VARCHAR" property="excerpt" />
        <result column="like_count" jdbcType="INTEGER" property="likedCount" />
        <result column="category_name" jdbcType="VARCHAR" property="categoryName" />
        <result column="post_date" jdbcType="TIMESTAMP" property="postDate" />
        <result column="pageviews" jdbcType="INTEGER" property="pageviews" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="create_user_acount" jdbcType="TIMESTAMP" property="createUserAcount" />
    </resultMap>

    <sql id="Base_Column_List">
    t.id, t.title, t.post_medium_image, t.link, t.author, t.excerpt, t.like_count, t.category_name,
    t.post_date,t.pageviews, t.create_time, t.create_user_acount
    </sql>

    <select id="queryMyFollowInfoByUserId" parameterType="string" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from
        t_bas_article_relation b,
        t_bas_article_info t
        where b.article_id = t.id
        AND b.account = #{account,jdbcType=BIGINT}
        order by create_time
    </select>

</mapper>
