<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jason.user.mapper.TestMapper">

    <select id="testQueryData" parameterType="com.jason.user.domain.TestQueryDto"
    resultType="com.jason.user.domain.TestQueryEnity">
        select id,aid,bids from table_c
        where 1=1
        <if test="id!=null and id != ''">
           and id = #{id}
        </if>
        <if test="bids!=null and bids != ''">
            and bids = #{bids}
        </if>
        <if test="aid!=null and aid != ''">
            and aid = #{aid}
        </if>
    </select>

    <insert id="addData" parameterType="com.jason.user.domain.TestQueryDto">
        insert into table_c(id,aid,bids) values (#{id},#{aid},#{bids})
    </insert>


</mapper>
