<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jason.user.mapper.UserMapper">

        <insert id="registerUser" parameterType="com.jason.user.domain.UserInfoDto">
         INSERT INTO t_bas_user (id,account,username,password,phone_number,create_time,modify_time,active)
         VALUES (#{id},#{account},#{username},#{password},#{phoneNumber},#{createTime},#{modifyTime},#{active})
        </insert>

        <select id="checkUserName" resultType="string">
            SELECT username as username FROM t_bas_user WHERE username = #{username} and active = 'Y' LIMIT 1
        </select>

        <select id="checkUserPwd" resultType="com.jason.user.domain.UserInfoDto"
                parameterType="com.jason.user.domain.UserInfoDto">
             SELECT
             id as id,
             username as username,
             password as password,
             account as account
             FROM t_bas_user
             WHERE
             username = #{username}
             and password = #{password}
             and active = 'Y' LIMIT 1
        </select>

        <select id="checkUserPhone" resultType="int">
            SELECT count(*) FROM t_bas_user WHERE phone_number = #{phone} AND active = 'Y'
        </select>

        <select id="updatePwd" parameterType="com.jason.user.domain.UserInfoDto">
            update t_bas_user set password = #{password} where id = #{id}
        </select>

        <select id="checkUserAccount" parameterType="long" resultType="int">
            select count(*) from t_bas_user where account = #{account}
        </select>


</mapper>
